<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.chargemanagement.chargequery.mapper.ChargMapper">

    <resultMap type="Charg" id="ChargResult">
        <result property="chargregid" column="charg_reg_id"/>
        <result property="presregid" column="pres_reg_id"/>
        <result property="prespatientname" column="pres_patient_name"/>
        <result property="chargmoney" column="charg_money"/>
        <result property="chargpayment" column="charg_payment"/>
        <result property="chargstatus" column="charg_status"/>
        <result property="chargtime" column="charg_time"/>
        <result property="chargcaozuo" column="charg_caozuo"/>
        <result property="createBy" column="create_by"/>
            <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectChargVo">
        select charg_reg_id, pres_reg_id, pres_patient_name, charg_money, charg_payment,
        charg_status,charg_time,charg_caozuo, create_by, create_time, remark
		from chargequery_lpz
    </sql>

    <select id="selectChargList" parameterType="Charg" resultMap="ChargResult">
        <include refid="selectChargVo"/>
        <where>
            <if test="presregid != null and presregid != ''">
                AND pres_reg_id like concat('%', #{presregid}, '%')
            </if>

            <if test="prespatientname != null and prespatientname != ''">
				AND pres_patient_name like concat('%', #{prespatientname}, '%')
            </if>

        </where>
    </select>


</mapper> 